<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>masoterapia</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="header-menu">
        <img src="../assets/img/logo.jpg" class="logo" alt="Logo">
            <ul class="menu">
                <li><a href="../../index.html">INICIO</a></li>
                <li><a href="./servicios.html">SERVICIOS</a></li>
                <li><a href="./productos.html">PRODUCTOS</a></li>
                <li><a href="./experiencia.html">EXPERIENCIA</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <section class="encabezado-experiencia">
        <h1>Experiencia</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ex similique pariatur, exercitationem rem saepe omnis quis culpa tempora? Delectus, laudantium? Molestiae voluptas placeat natus amet eum alias quo fuga?</p>
    </section>

    <section class="experiencia-container">
        <div class="experiencia-item1">
            <img src="../assets/img/experiencia1.jpg" alt="Alimentos">
            <h2>Alimentación liviana pre-sesión</h2>
        </div>
        <div class="experiencia-item2">
            <img src="../assets/img/experiencia2.jpg" alt="Baby face">
            <h2>Afeitado para faciales</h2>
        </div>
        <div class="experiencia-item3">
            <img src="../assets/img/experiencia3.jpg" alt="Hoja clínica">
            <h2>Hoja clínica</h2>
        </div>
        <div class="experiencia-item4">
            <img src="../assets/img/experiencia4.jpg" alt="Anticipos y pagos">
            <h2>Pagos y anticipos</h2>
        </div>
    </section>
    
    <footer class="footer-container">
        <div class="redes">
            <a href="https://facebook.com" target="_blank">
            <img src="../assets/img/iconodefb.png" alt="Logotipo de Facebook" width="40px">
            </a>
            <a href="https://instagram.com" target="_blank">
            <img src="../assets/img/iconodeig.png" alt="Logotipo de Instagram" width="40px">
            </a>
        </div>

        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1639360863457!6m8!1m7!1samUIa-QVhjpZ9u4XrVeX2w!2m2!1d-27.52090450695352!2d-58.79363136009721!3f260.4659499505556!4f-3.5602251728577556!5f0.7820865974627469" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="../../index.html">INICIO</a></li>
                    <li><a href="./servicios.html">SERVICIOS</a></li>
                    <li><a href="./productos.html">PRODUCTOS</a></li>
                    <li><a href="./experiencia.html">EXPERIENCIA</a></li>
                    <li><a href="./contacto.html">CONTACTO</a></li>
                </ul>
             </nav>
        </div>
    </footer>
</body>
</html>