* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #EDCB54;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

/* Estilos del Header */

.header-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.header-menu .logo {
    width: 50%;
    grid-area: 1 / 2 / 2 / 3;
    margin: auto;
    margin-top: 2em;
}

.header-menu .menu {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
}

header .header-menu .menu {
    background-color: black;
}

header .header-menu .menu li {
    background-color: black;
    list-style: none;
}

header .header-menu .menu li a {
    background-color: black;
    text-decoration: none;
    padding: 1.5em;
    color: #EDCB54;
    font-size: 1em;
    font-weight: bold;
}

header .header-menu .menu li a:hover {
    border: 2px solid white;
}

/* Fin estilos del Header */

h1 {
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    font-style: italic;
}

/* Sección carrousel */
/* El corrousel lo voy a dejar así hasta aprender a hacerlo */
.carrousel {
    width: 30%;
    height: 30%;
    margin: 0.5em;
}

/* Fin sección carrousel */

/* Sección servicios en index */

.seccion-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
    
.masaje-relajante { 
    grid-area: 1 / 1 / 2 / 2; 
}

.masaje-piedras {
     grid-area: 1 / 2 / 2 / 3; 
}

.masaje-deportivo { 
    grid-area: 1 / 3 / 2 / 4;
 }

section div img {
    width: 70%;
    height: 70%;
}

section div h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Fin sección servicios en index */

/* Sección Servicios */

.servicios-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
    
.servicios-item1 {
     grid-area: 1 / 1 / 2 / 2; 
}
.servicios-item2 {
     grid-area: 1 / 2 / 2 / 3; 
}
.servicios-item3 {
     grid-area: 1 / 3 / 2 / 4; 
}
.servicios-item4 { 
    grid-area: 2 / 1 / 3 / 2; 
}
.servicios-item5 { 
    grid-area: 2 / 2 / 3 / 3; 
}
.servicios-item6 { 
    grid-area: 2 / 3 / 3 / 4; 
}

/* Fin sección Servicios */

/* Sección Productos */

.productos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.productos-item1 { 
    grid-area: 1 / 1 / 2 / 2; 
}
.productos-item2 { 
    grid-area: 1 / 2 / 2 / 3; 
}
.productos-item3 { 
    grid-area: 2 / 1 / 3 / 2; 
}
.productos-item4 { 
    grid-area: 2 / 2 / 3 / 3; 
}

/* Fin sección Productos */

/* Sección Experiencia */

.experiencia-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.experiencia-item1 { 
    grid-area: 1 / 1 / 2 / 2; 
}
.experiencia-item2 { 
    grid-area: 1 / 2 / 2 / 3; 
}
.experiencia-item3 { 
    grid-area: 2 / 1 / 3 / 2; 
}
.experiencia-item4 { 
    grid-area: 2 / 2 / 3 / 3; 
}

/* Fin sección Experiencia */

/* Sección Contacto */

/* Fin sección Contacto */
    
/* Estilos del Footer */

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
    
.redes { 
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-container .redes img {
    width: 2.5em;
    margin: 10px;
}

.footer-container .redes img:hover {
    transform: scale(2);
    transition: all 1s ease;
}

.mapa { 
    grid-area: 1 / 2 / 2 / 3;
}

.mapa iframe {
    width: 90%;
    height: 90%;
}

.footer-menu { 
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer div nav ul li {
    list-style: none;
}

footer div nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: bold;
}

footer div nav ul li a:hover {
    border: 2px solid white;
    background-color: white;
}

/* Fin estilos del footer */

/* Media Querys */

/* Mobile Styles */

@media only screen and (max-width: 467px) {
    /* Header */
    
    .header-menu .logo {
        width: 40%;
    }

    header .header-menu .menu li a {
        font-size: 0.5em;
    }

    /* Fin Header */

    /* Sección carousel en index */

    .carrousel {
        width: 40%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    /* Fin sección carousel en index */

    /* h1 del index */

    h1 {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 2em;
        font-size: 1.5em;
    }

    /* Fin h1 del index */

    /* Sección servicios en index */

    .seccion-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section div img {
        width: 40%;
    }

    section div h2 {
        font-size: 1em;
    }

    section div {
        margin-bottom: 30px;
    }

    /* Fin sección servicios en index */

    /* Footer */

    .footer-container {
        display: flex;
        justify-content: space-evenly;
    }

    .footer-container .redes img {
        width: 1.5em;
    }
    
    .mapa iframe {
        width: 6em;
        height: 6em;
    }
    
    footer div nav ul li a {
        font-size: 0.5em;
    }

    /* Fin sección Footer */

    /* Sección Servicios */

    .servicios-container {
        display: flex;
        flex-wrap: wrap;
    }

    .encabezado-servicios h1 {
        margin: 2.4em;
        font-size: 1.9em;
    }
    
    /* Fin sección Servicios */

    /* Sección Productos */

    .productos-container {
        display: flex;
        flex-wrap: wrap;
    }

    /* Fin sección Productos */

    /* Sección Experiencia */

    .experiencia-container {
        display: flex;
        flex-direction: column;
    }

    .encabezado-experiencia h1 {
        margin: 3em;
        padding: 0;
        font-size: 2em;
    }

    /* Fin sección Experiencia */

    /* Sección Contacto */

    .encabezado-contacto h1 {
        margin: 2.9em;
        padding: 0;
        font-size: 1.9em;
    }

    /* Fin sección Contacto */

}

@media only screen and (min-width: 468px) and (max-width: 968px) {
    /* Header */
    
    .header-menu .logo {
        width: 50%;
    }

    header .header-menu .menu li a {
        font-size: 0.8em;
    }

    /* Fin Header */

    /* Sección carousel en index */

    .carrousel {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    /* Fin sección carousel en index */

    /* Sección servicios en index */

    section div img {
        width: 90%;
    }

    section div h2 {
        font-size: 1.4em;
    }

    section div {
        margin-bottom: 50px;
    }

    /* Fin sección servicios en index */

    /* Footer */

    .footer-container {
        display: flex;
        justify-content: space-evenly;
    }

    .footer-container .redes img {
        width: 2em;
    }
    
    .mapa iframe {
        width: 10em;
        height: 10em;
    }
    
    footer div nav ul li a {
        font-size: 0.8em;
    }

    /* Fin sección Footer */

    /* Sección Servicios */

    .servicios-container .servicios-item1 {
        font-size: 0.8em;
    }

    .servicios-container .servicios-item2 {
        font-size: 0.8em;
    }

    .servicios-container .servicios-item3 {
        font-size: 0.8em;
    }

    .servicios-container .servicios-item4 {
        font-size: 0.8em;
        margin-bottom: 50px;
    }

    .servicios-container .servicios-item5 {
        font-size: 0.8em;
        margin-bottom: 50px;
    }

    .servicios-container .servicios-item6 {
        font-size: 0.8em;
        margin-bottom: 50px;
    }
    
    /* Fin sección Servicios */

    /* Sección Productos */

    /* Fin sección Productos */

    /* Sección Experiencia */

    /* Fin sección Experiencia */

    /* Sección Contacto */

    /* Fin sección Contacto */
}